header.header
    .header__column
        if(!loggedIn)
            a(href=routes.landingPage).header__logo-title-link
                img(src="/static/design/logo.png", alt="Photorganizer Logo").logo
                h1.header__title Photorganizer
        else
            a(href=routes.dashboard).header__logo-title-link
                img(src="/static/design/logo.png", alt="Photorganizer Logo").logo
                h1.header__title Photorganizer
    .header__column
        if(!loggedIn)
            a(href="https://github.com/hwhang0917/photorganizer").header__link About
            a(href="#").header__link Desktop App
        else
            .search-container
                form(action=`/dashboard${routes.filter}`, method="get")
                    i.fas.fa-search.search__icon
                    input(type="text", placeholder="Filter image by location", name="term")
            a(href=`/dashboard${routes.imageUpload}`).header__buttons#uploadButton
                .icon__badge +
                i.fas.fa-file-image
            a(href=routes.settings).header__buttons
                i.fas.fa-cog
            a(href=routes.logout).header__buttons
                i.fas.fa-sign-out-alt